body {
	font-family: helvetica;
}

#chat-container {
	background-color: #eee;
	width: 200px;
	position: absolute;
	bottom: 0;
	right: 100px;
}

#chat-messages {
	height: 150px;
	overflow-y: scroll;
	list-style: none;
	padding: 0;
	margin: 15px;
	padding-right: 15px;
}

#chat-container textarea {
	width: 198px;
	margin: 0;
	padding: 0;
}